<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <p>
      William Shakespeare (Stratford-upon-Avon, Warwickshire, Reino de
      Inglaterra, c. 23 de abril de 1564jul. - Stratford-upon-Avon,
      Warwickshire, Reino de Inglaterra, 23 de abriljul./ 3 de mayo de
      1616greg.)1​ fue un dramaturgo, poeta y actor inglés. Conocido en
      ocasiones como el Bardo de Avon (o simplemente el Bardo), se le considera
      el escritor más importante en lengua inglesa y uno de los más célebres de
      la literatura universal.2​
    </p>
  </body>
</html>
