<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <h1>Famous works</h1>
    <ul id="works">
      <li>The Tempest</li>
      <li>The Two Gentlmen of Verona</li>
      <li>The Merry Wives of Windsor</li>
      <li>King John</li>
      <li>Romeo and Juliet</li>
      <li>Macbeth</li>
      <li>Hamlet</li>
    </ul>
  </body>
</html>
